{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPass.first) }}
    {{ form_row(form.plainPass.second) }}

    <button type="submit">Register</button>
{{ form_end(form) }}
